<div class="wrapper">
    <!-- Sidebar -->
    <body class="overrider">
        <nav id="sidebar-wrapper">
            <ul class="list-unstyled components">
                <li class="menu-item">
                    <a href="/">Home</a>
                </li>
                <li class="menu-item">
                    <a href="/docs/publications/" data-path="/docs/publications/">Publications</a>
                </li>
                <li class="menu-item">
                    <a href="/docs/skills/" data-path="/docs/skills/">Skills</a>
                </li>
                <li class="menu-item">
                    <a href="/docs/reports" data-path="/docs/reports/">Background</a>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li style="display: inline-block;"> 
                    <li><a href="{{ site.git_address }}"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/daniela-breitman-59bb9a218/">
                        <img class="img-responsive" alt="linkedin" style="margin:0px 4px;height:20px" src="/assets/img/linkedin.png"/></a></li>
                    <li><a href="mailto:daniela.breitman@sns.it">
                        <img class="img-responsive" alt="email" style="margin:0px 4px;height:20px" src="/assets/img/envelope.png"/></a></li>  
                </li>
            </ul>
        </nav>
    </body>
</div>
